.visitor-chart{
    background-color: rgb(16 40 65);
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    
}

.chart-title{
    color: #D6D7DC;
    font-size: 18px;
}