
.breakOut{
  background-image: url(https://media.gettyimages.com/photos/solar-system-picture-id182792016?s=2048x2048) !important;
  background-size: cover;
  height: 100vh;
}

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");




