body {
  margin: 0;
  font-size: small !important;
  font-family: "Lato", sans-serif !important;
  font-family: "Poppins", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  width: 100%;
  height: 100px;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Dark Colors */
#darkish {
  background-color: #0e0e10 !important;
}
#moreDark {
  background-color: #18191a !important;
}
#darkLight {
  color: #eeeeee !important;
}

#muted {
  color: #8b8b8b !important;
}

/* Light Colors */
#lightest {
  background-color: #efeff1 !important;
}
#moreLight {
  background-color: #ffffff !important;
}
#black {
  color: #051624 !important;
}

/* Classes */
.darkish {
  background-color: #0e0e10 !important;
}
.lightest {
  background-color: #efeff1 !important;
}

.darkLight {
  color: #eeeeee !important;
}
.black {
  color: #051624 !important;
}
.moreDark {
  background-color: #18191a !important;
}
.moreLight {
  background-color: #ffffff !important;
}
