body {
  margin: 0;
  font-size: small !important;
  font-family: 'Lato', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {

}
.active{
  /* background-color: blue; */
  color:rgb(255, 255, 255) !important;
  background-color: #097e51 !important;
}

